
# Ignore specific files


# Use wildcards as well
*.npy
*.mat
*/data/*
data/*
*/1_joint_alignment/STN/model/*
1_joint_alignment/STN/model/*
*/1_joint_alignment/SE/tmp_data/*
1_joint_alignment/SE/tmp_data/*
*/1_joint_alignment/AFFINE/affine_alignment_results/*
1_joint_alignment/AFFINE/affine_alignment_results/*
*/1_joint_alignment/SE/se_alignment_results/*
1_joint_alignment/SE/se_alignment_results/*
*/1_joint_alignment/STN/stn_alignment_results/*
1_joint_alignment/STN/stn_alignment_results/*

*/__pycache__/*
__pycache__/*
*/utils/__pycache__/*
utils/__pycache__/*
*/1_joint_alignment/AFFINE/__pycache__/*
1_joint_alignment/AFFINE/__pycache__/*
*/1_joint_alignment/SE/__pycache__/*
1_joint_alignment/SE/__pycache__/*
*/1_joint_alignment/STN/__pycache__/*
1_joint_alignment/STN/__pycache__/*
*/2_learning/BG/__pycache__/*
2_learning/BG/__pycache__/*
*/2_learning/Alignment/__pycache__/*
2_learning/Alignment/__pycache__/*
*/3_bg_separation/__pycache__/*
3_bg_separation/__pycache__/*
*/3_bg_separation/Prediction/__pycache__/*
3_bg_separation/Prediction/__pycache__/*
*/3_bg_separation/Projection/__pycache__/*
3_bg_separation/Projection/__pycache__/*

*/2_learning/BG/alignment_mean/*
2_learning/BG/alignment_mean/*
*/2_learning/BG/TGA-PCA/subspaces/*
2_learning/BG/TGA-PCA/subspaces/*
*/2_learning/BG/TGA-PCA/movie/starwars_000/*
2_learning/BG/TGA-PCA/movie/starwars_000/*
*/2_learning/Alignment/models/*
2_learning/Alignment/models/*
*/2_learning/Alignment/logs/*
2_learning/Alignment/logs/*

*/3_bg_separation/tmp_data/*
3_bg_separation/tmp_data/*
*/3_bg_separation/test_imgs_alignment/*
3_bg_separation/test_imgs_alignment/*

*/output/*
output/*

*/.idea/*
.idea/*
